<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p [%logger{0}] %m%n%ex</pattern>
        </encoder>
    </appender>

    <springProperty name="logLevel" source="logging.level.net.dflmngr" defaultValue="info"/>

    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
